.row
  .col-lg-12
    = button_to "Logout", destroy_customer_session_path, :method => :delete, :class => 'btn btn-primary pull-right'
    %p
      Welcome, #{@customer.email} !
    %p
      = link_to "Change your password", edit_customer_registration_path

  - if @first_time
    .col-lg-12.text-center
      %h3 Welcome to FoodGem!
      %p
        Please tell us your preferences so we can send yummy dishes your way!
      %p
        = link_to 'Update my preferences', edit_preferences_path, :class => 'btn btn-primary'
  - else
    .col-lg-12
      Derp
